footer {
  font-style: normal;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cornsilk;
  color: black;
  text-align: end;
}
section#equipe {
  margin-top: none;
}

#imagescarousel {
  /* max-width: 100%;
  height: auto; */
  object-fit: scale-down;
}

.img-fluid {
  object-fit: contain;
}

#panier {
  margin: 5px;
}

form {
  display: block;
  margin-top: 5em;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .courriel-input {
    width: 50%;
  }
}
